<div id="estoque">
	<div id="left"></div>
	<div id="center">
		<div id="controles">
			<div id="estoque-header">Estoque</div>
			<form id="criar-produto-container" action="<%= novo_produto_path %>" method="get">
				<button id="criar-produto" type="submit" >Novo produto</button>
			</form>
		</div>
		<% if @produtos.present? %>
			<div id="lista-produtos">
				<% @produtos.each do |produto|%>
					<div class="produto" id="produto-<%= produto.id %>">
						<div class="produto-imagem-container">
							<img class="produto-imagem" src="<%= asset_path(produto.icone_path) %>">
						</div>
						<div class="produto-informacoes">
							<div class="produto-nome"><%= produto.nome %></div>
							<div class="produto-preco">R$ <%= produto.preco %></div>
							<div class="produto-quantidade"><%= produto.quantidade %> produtos no estoque</div>
						</div>
						<div class="produto-adiciona-estoque">
							<div class="produto-adiciona-estoque-grupo">
								<button class="produto-adiciona-estoque-menos">-</button>
								<input class="produto-adiciona-estoque-quantidade" min="0" max="<%= produto.quantidade %>" type="text" name="">
								<button class="produto-adiciona-estoque-mais">+</button>	
							</div>
							<button class="produto-adiciona-estoque-confirmar">Adicionar</button>
						</div>
					</div>
				<% end %>
			</div>
		<% else %>
			<div id="lista-vazia">Não há produtos cadastrados</div>
		<% end %>
	</div>
	<div id="right"></div>
</div>