tela_pedidos_vendedor

<%= flash[:danger] %>
<%= flash[:success] %>

<h2>Produtos vendidos</h2>

<% @pedidos.each do |pedido| %>
	<p>Produto: <%= pedido.nome %> </p>
	<p>Preco: <%= pedido.nome %> </p>
	<p>Quantidade: <%= pedido.quantidade %> </p>
	<p>Total: <%= pedido.preco * pedido.quantidade %> </p>
<% end %>