<form action="<%= buscar_produtos_path %>" method="get">
	<div id="buscar-produtos">
		<div id="left">
			<div id="filtros">
				<div id="filtro-preco">
					<label id="filtro-preco-header">Faixa de preços</label>
					<div id="filtro-preco-body">
						<input id="preco-de" type="text" name="preco_de" placeholder="R$ 0">
						<p>até</p>
						<input id="preco-ate" type="text" name="preco_ate" placeholder="R$ 100">
					</div>
				</div>
			</div>
		</div>
		<div id="grupo-busca">
			<input id="busca-input" type="text" name="busca">
			<button id="busca-botao" type="submit">Buscar</button>
		</div>
		<div id="center">
			<div id="apresentacao-resultados">
				<button id="apresentar-resultados-grade" type="button"></button>
				<button id="apresentar-resultados-lista" type="button"></button>
			</div>
			<div id="lista-produtos">
				<% if @produtos.present? %>
					<% @produtos.each do |produto| %>
					<div class="resultado-produto" id="resultado-produto-<%= produto.id %>">
						<div class="resultado-produto-imagem-container">
							<img class="resultado-produto-imagem" src="<%= asset_path(produto.icone_path) %>">
						</div>
						<div class="resultado-produto-informacoes">
							<div class="resultado-produto-nome"><%= produto.nome %></div>
							<div class="resultado-produto-preco">R$ <%= produto.preco %></div>
							<div class="resultado-produto-estoque"><%= produto.quantidade %> unidades disponíveis</div>
						</div>
						<div class="resultado-produto-cover"></div>
					</div>
					<% end %>			
				<% else %>
					<div id="lista-vazia">
						Nenhum resultado encontrado
					</div>
				<% end %>
			</div>
		</div>
		<div id="right"></div>
	</div>
</form>