<div id="landing-page">
	<div id="left"></div>
	<div id="center">
		<form id="grupo-busca" action="<%= buscar_produtos_path %>" method="get">
			<input id="busca-input" type="text" name="busca">
			<input id="busca-botao" type="submit" value="Buscar">
		</form>
		<div id="carroussel">
			<div class="carroussel-imagens-container">
				<img class="carroussel-imagem" src="https://dummyimage.com/6000x2000/ff6666/fff">
				<img class="carroussel-imagem" src="https://dummyimage.com/6000x2000/66ff66/fff">
				<img class="carroussel-imagem" src="https://dummyimage.com/6000x2000/6666ff/fff">
				<img class="carroussel-imagem" src="https://dummyimage.com/6000x2000/222222/fff">
			</div>
			<div class="carroussel-cover">
				<div class="carroussel-cover-left"></div>
				<div class="carroussel-cover-right"></div>
			</div>
		</div>
		<div id="ofertas">
			<div class="oferta">
				<div class="oferta-header">
					Oferta de produtos
				</div>
				<div class="oferta-produtos">
					<% @produtos.each do |produto| %>
						<div class="oferta-produto">
							<a class="oferta-produto-link" href="<%= ver_produto_path(produto.id) %>"></a>
							<% if produto.has_imagem? %>
								<div class="oferta-produto-imagem">
									<img src='<%= asset_path("#{Imagem.where(produto_id: produto.id).first.path}")%>'>
								</div>
							<% else %>
								<div class="oferta-produto-imagem">
									<img src='<%= asset_path("dummy.png") %>'>
								</div>
							<% end%>
							<div class="oferta-produto-informacoes">
								<div class="oferta-produto-informacoes-nome"><%= produto.nome %></div>
								<div class="oferta-produto-informacoes-preco">R$ <%= produto.preco %></div>
								<button hidden>Botao</button>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div id="right"></div>
</div>
