<!DOCTYPE html>
<html>
  <head>
    <title>Projeto1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="menu">
      <div class="menu-icone-container">
        <img class="menu-icone" src="<%= asset_path('dummy') %>">
      </div>
      <div class="menu-link-container">
        <a class="menu-link" href="<%= landing_page_path %>">Home</a>
        <a class="menu-link" href="<%= carrinho_path %>">Carrinho</a>
        <% if current_usuario.present? %>
          <a class="menu-link" href="<%= minhas_compras_path %>">Compras</a>
          <a class="menu-link" href="<%= minhas_vendas_path %>">Vendas</a>
          <a class="menu-link" href="<%= estoque_path %>">Estoque</a>
          <form class="menu-link-logout-form" action="<%= destroy_usuario_session_path %>" method="delete">
            <%= token_tag %>
            <input class="menu-link menu-link-logout" type="submit" value="Logout">
          </form>
        <% else %>
          <a class="menu-link" href="<%= new_usuario_session_path %>">Login</a>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
